<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themes.potenzaglobalsolutions.com/html/cardealer/index-car-directory.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Sep 2021 07:54:43 GMT -->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Car Dealer - The Best Car Dealer Automotive Responsive HTML5 Template" />
<meta name="author" content="potenzaglobalsolutions.com" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>RAMAY AUTOS - The Best Car Dealer Automotive</title>

<!-- Favicon -->
<link rel="shortcut icon" href="images/favicon.ico" />

<!-- bootstrap -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />

<!-- flaticon -->
<link rel="stylesheet" type="text/css" href="css/flaticon.css" />

<!-- mega menu -->
<link rel="stylesheet" type="text/css" href="css/mega-menu/mega_menu.css" />

<!-- mega menu -->
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />

<!-- owl-carousel -->
<link rel="stylesheet" type="text/css" href="css/owl-carousel/owl.carousel.css" />

<!-- revolution -->
<link rel="stylesheet" type="text/css" href="revolution/css/settings.css">

<!-- animate -->
<link rel="stylesheet" type="text/css" href="css/animate.min.css">

<!-- main style -->
<link rel="stylesheet" type="text/css" href="css/style.css" />

<!-- responsive -->
<link rel="stylesheet" type="text/css" href="css/responsive.css" />
 
</head>

<body>
 
<!--=================================
  loading -->
  
 <div id="loading">
  <div id="loading-center">
      <img src="images/loader4.gif" alt="">
 </div>
</div>

<!--=================================
  loading -->

<!--=================================
 header -->

<header id="header" class="topbar-dark header-dark">
<div class="topbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <div class="topbar-left text-lg-left text-center">
           <ul class="list-inline">
             <li> <i class="fa fa-envelope-o"> </i> support@website.com</li> 
             <li> <i class="fa fa-clock-o"></i> Mon - Sat 8.00 - 18.00. Sunday CLOSED</li>
           </ul>
        </div>
      </div>
      <div class="col-lg-7 col-md-12 text-lg-right text-center">
         <div class="topbar-profile">
           <ul class="list-inline">
             <li> <a href="#"><i class="fa fa-hand-o-up"></i> Dealer Profile </a> | </li>
             <li> <a href="#"><i class="fa fa-tag"></i> Seller Profile </a>  </li>
           </ul>
         </div>
        <div class="topbar-right">
           <ul class="list-inline">
             <li> <i class="fa fa-phone"></i> (007) 123 456 7890</li> 
             <li><a href="#"><i class="fa fa-facebook"></i></a></li>   
             <li><a href="#"><i class="fa fa-twitter"></i></a></li>   
             <li><a href="#"><i class="fa fa-instagram"></i></a></li>   
             <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>   
           </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--=================================
 mega menu -->

<div class="menu">  
  <!-- menu start -->
   <nav id="menu" class="mega-menu">
    <!-- menu list items container -->
    <section class="menu-list-items">
     <div class="container-fluid"> 
      <div class="row"> 
       <div class="col-md-12"> 
        <!-- menu logo -->
        <ul class="menu-logo">
            <li>
                <a href="index.html"><img id="logo_img" src="images/logo-light.png" alt="logo"> </a>
            </li>
        </ul>
        <!-- menu links -->
        <ul class="menu-links">
            <!-- active class -->
            <li class="active"><a href="javascript:void(0)"> Home </i></a>
            </li>
            <li><a href="javascript:void(0)">Pages <i class="fa fa-angle-down fa-indicator"></i></a>
                <!-- drop down full width -->
                <div class="drop-down menu-bg grid-col-12">
                    <!--grid row-->
                    <div class="grid-row">
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="about-01.html">About 01</a></li>
                              <li><a href="about-02.html">About 02</a></li>
                              <li><a href="service-01.html">service 01</a></li>
                              <li><a href="service-02.html">service 02</a></li>
                              <li><a href="career.html">career</a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="team-01.html">team 01</a></li>
                              <li><a href="team-02.html">team 02</a></li>
                              <li><a href="contact-01.html">contact 01</a></li>
                              <li><a href="contact-02.html">contact 02</a></li>
                              <li><a href="faq.html">faq</a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="login.html">login</a></li>
                              <li><a href="register.html">register</a></li>
                              <li><a href="error-404.html">error 404</a></li>
                              <li><a href="coming-soon.html">coming soon</a></li>
                              <li><a href="typography.html">typography</a></li>
                            </ul>
                        </div>
                        <!--grid column 3-->
                        <div class="grid-col-3">
                            <ul>
                              <li><a href="page-left-sidebar.html">page left sidebar </a></li>
                              <li><a href="page-right-sidebar.html">page right sidebar </a></li>
                              <li><a href="page-both-sidebar.html">page both sidebar </a></li>
                              <li><a href="terms-and-conditions.html">terms and conditions </a></li>
                              <li><a href="privacy-policy.html">privacy policy </a></li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </li>
            <li><a href="javascript:void(0)">blog <i class="fa fa-angle-down fa-indicator"></i></a>
                <!-- drop down multilevel  -->
                <ul class="drop-down-multilevel">
                    <li><a href="javascript:void(0)">blog classic <i class="fa fa-angle-right fa-indicator"></i> </a>
                        <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                           <li><a href="blog-left-sidebar.html">left sidebar</a></li>
                           <li><a href="blog-right-sidebar.html">right sidebar</a></li>
                           <li><a href="blog-fullwidth.html">fullwidth</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)">Masonry  <i class="fa fa-angle-right fa-indicator"></i> </a>
                      <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                            <li><a href="blog-masonry-2-collums.html"> 2 column </a> </li>
                            <li><a href="blog-masonry-3-collums.html"> 3 column </a> </li>
                            <li><a href="blog-masonry-4-collums.html"> 4 column </a> </li>
                            <li><a href="blog-masonry-left-sidebar.html">left sidebar</a></li>
                           <li><a href="blog-masonry-right-sidebar.html">right sidebar</a></li>
                        </ul> 
                    </li>
                    <li><a href="javascript:void(0)">blog single <i class="fa fa-angle-right fa-indicator"></i> </a>
                      <!-- drop down second level -->
                        <ul class="drop-down-multilevel">
                            <li><a href="blog-single-01.html">blog single 01 </a> </li>
                            <li><a href="blog-single-02.html">blog single 02 </a> </li>
                        </ul> 
                    </li>
                </ul>
            </li>
            <li><a href="javascript:void(0)">Car listing  <i class="fa fa-angle-down fa-indicator"></i></a> 
               <!-- drop down multilevel  -->
                <ul class="drop-down-multilevel">
                    <li><a href="listing-01.html">listing 01</a></li>
                    <li><a href="listing-02.html">listing 02</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0)">Car details  <i class="fa fa-angle-down fa-indicator"></i></a> 
               <!-- drop down multilevel  -->
                <ul class="drop-down-multilevel">
                    <li><a href="details-01.html">details 01</a></li>
                    <li><a href="details-02.html">details 02</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0)"> Contact <i class="fa fa-angle-down fa-indicator"></i></a>
                 <!-- drop down multilevel  -->
                <ul class="drop-down-multilevel">
                   <li><a href="contact-01.html">contact 01</a></li>
                   <li><a href="contact-02.html">contact 02</a></li>
                </ul>
            </li>
        </ul>
        <ul class="submit-button float-right list-inline">
           <li> <a href="#"> <i class="fa fa-user"></i> </a></li>
           <li> <a href="#"> <i class="fa fa-exchange"></i> </a></li>
           <li> <a class="button" href="#"> Post an Ad </a></li>
        </ul>
       </div>
      </div>
     </div>
    </section>
   </nav>
  <!-- menu end -->
 </div>
</header>

<!--=================================
 header -->



<!--=================================
 banner -->

<section class="slider-parallax car-directory-banner bg-overlay-black-70 bg-17">
  <div class="slider-content-middle">
  <div class="container">
     <div class="row">
      <div class="col-md-12">
        <div class="slider-content text-center">
           <h2 class="text-white">Find what are you looking for</h2>
           <h4 class="text-white">Over <strong class="text-red">40000</strong>  latest Cars in <strong class="text-red">Cardealer</strong> </h4>
          <div class="search-tab ">
           <div id="tabs">
             <h6>I want to Buy </h6>
              <ul class="tabs text-left">
                 <li data-tabs="tab1" class="active">  Motor Cars</li>
                 <li data-tabs="tab2"> Motor Bikes </li>
                 <li data-tabs="tab3"> Agri Equipments</li>
                 <li data-tabs="tab4">Trailer/Trucks</li>
                 <li data-tabs="tab4">Health Care Vehicles</li>
                 <li data-tabs="tab4">Parts/Accessories</li>
              </ul>
              <div class="car-total float-right">
                <h5 class="text-white"><i class="fa fa-caret-right"></i>(50) <span class="text-red">CARS</span></h5>
              </div>
             <div id="tab1" class="tabcontent"> 
              <div class="row">
                <div class="col-lg-2 col-md-6">
                 <div class="selected-box">
                  <select class="selectpicker">
                  <option>Make </option>
                  <option>BMW</option>
                  <option>Honda </option>
                  <option>Hyundai </option>
                  <option>Nissan </option>
                  <option>Mercedes Benz </option>
                 </select>
                </div>
                 </div>
                 <div class="col-lg-2 col-md-6">
                  <div class="selected-box">
                     <select class="selectpicker">
                      <option>Model</option>
                      <option>3-Series</option>
                      <option>Carrera</option>
                      <option>GT-R</option>
                      <option>Cayenne</option>
                      <option>Mazda6</option>
                      <option>Macan</option>
                     </select>
                   </div>
                  </div>
                  <div class="col-lg-2 col-md-6">
                   <div class="selected-box">
                   <select class="selectpicker">
                    <option>Price </option>
                    <option>2010</option>
                    <option>2011</option>
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                   </select>
                  </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="selected-box">
                    <select class="selectpicker">
                     <option>All cities</option>
                     <option>2010</option>
                     <option>2011</option>
                     <option>2012</option>
                     <option>2013</option>
                     <option>2014</option>
                     <option>2015</option>
                     <option>2016</option>
                    </select>
                   </div>
                  </div>
                  <div class="col-lg-2 col-md-12">
                    <div class="text-center">
                      <button class="button btn-block red" type="button">Search</button>
                  </div>
                </div>
              </div>
             </div>
             <div id="tab2" class="tabcontent"> 
              <div class="row">
                <div class="col-lg-2 col-md-6">
                 <div class="selected-box">
                  <select class="selectpicker">
                  <option>Make </option>
                  <option>BMW</option>
                  <option>Honda </option>
                  <option>Hyundai </option>
                  <option>Nissan </option>
                  <option>Mercedes Benz </option>
                 </select>
                </div>
                 </div>
                 <div class="col-lg-2 col-md-6">
                  <div class="selected-box">
                     <select class="selectpicker">
                      <option>Model</option>
                      <option>3-Series</option>
                      <option>Carrera</option>
                      <option>GT-R</option>
                      <option>Cayenne</option>
                      <option>Mazda6</option>
                      <option>Macan</option>
                     </select>
                   </div>
                  </div>
                  <div class="col-lg-2 col-md-6">
                   <div class="selected-box">
                   <select class="selectpicker">
                    <option>Price </option>
                    <option>2010</option>
                    <option>2011</option>
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                   </select>
                  </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="selected-box">
                    <select class="selectpicker">
                     <option>All cities </option>
                     <option>2010</option>
                     <option>2011</option>
                     <option>2012</option>
                     <option>2013</option>
                     <option>2014</option>
                     <option>2015</option>
                     <option>2016</option>
                    </select>
                   </div>
                  </div>
                  <div class="col-lg-2 col-md-12">
                    <div class="text-center">
                      <button class="button btn-block red" type="button">Search</button>
                  </div>
                </div>
              </div>
             </div>
             <div id="tab3" class="tabcontent"> 
              <div class="row">
                <div class="col-lg-2 col-md-6">
                 <div class="selected-box">
                  <select class="selectpicker">
                  <option>Make </option>
                  <option>BMW</option>
                  <option>Honda </option>
                  <option>Hyundai </option>
                  <option>Nissan </option>
                  <option>Mercedes Benz </option>
                 </select>
                </div>
                 </div>
                 <div class="col-lg-2 col-md-6">
                  <div class="selected-box">
                     <select class="selectpicker">
                      <option>Model</option>
                      <option>3-Series</option>
                      <option>Carrera</option>
                      <option>GT-R</option>
                      <option>Cayenne</option>
                      <option>Mazda6</option>
                      <option>Macan</option>
                     </select>
                   </div>
                  </div>
                  <div class="col-lg-2 col-md-6">
                   <div class="selected-box">
                   <select class="selectpicker">
                    <option>Price </option>
                    <option>2010</option>
                    <option>2011</option>
                    <option>2012</option>
                    <option>2013</option>
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                   </select>
                  </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <div class="selected-box">
                    <select class="selectpicker">
                     <option>All cities </option>
                     <option>2010</option>
                     <option>2011</option>
                     <option>2012</option>
                     <option>2013</option>
                     <option>2014</option>
                     <option>2015</option>
                     <option>2016</option>
                    </select>
                   </div>
                  </div>
                  <div class="col-lg-2 col-md-12">
                    <div class="text-center">
                      <button class="button btn-block red" type="button">Search</button>
                  </div>
                </div>
              </div>
             </div>
             <div id="tab4" class="tabcontent"> 
                <div class="row">
                    <div class="col-lg-2 col-md-6">
                     <div class="selected-box">
                      <select class="selectpicker">
                      <option>Make </option>
                      <option>BMW</option>
                      <option>Honda </option>
                      <option>Hyundai </option>
                      <option>Nissan </option>
                      <option>Mercedes Benz </option>
                     </select>
                    </div>
                     </div>
                     <div class="col-lg-2 col-md-6">
                      <div class="selected-box">
                         <select class="selectpicker">
                          <option>Model</option>
                          <option>3-Series</option>
                          <option>Carrera</option>
                          <option>GT-R</option>
                          <option>Cayenne</option>
                          <option>Mazda6</option>
                          <option>Macan</option>
                         </select>
                       </div>
                      </div>
                      <div class="col-lg-2 col-md-6">
                       <div class="selected-box">
                       <select class="selectpicker">
                        <option>Price </option>
                        <option>2010</option>
                        <option>2011</option>
                        <option>2012</option>
                        <option>2013</option>
                        <option>2014</option>
                        <option>2015</option>
                        <option>2016</option>
                       </select>
                      </div>
                      </div>
                      <div class="col-lg-4 col-md-6">
                        <div class="selected-box">
                        <select class="selectpicker">
                         <option>All cities </option>
                         <option>2010</option>
                         <option>2011</option>
                         <option>2012</option>
                         <option>2013</option>
                         <option>2014</option>
                         <option>2015</option>
                         <option>2016</option>
                        </select>
                       </div>
                      </div>
                      <div class="col-lg-2 col-md-12">
                        <div class="text-center">
                          <button class="button btn-block red" type="button">Search</button>
                      </div>
                    </div>
                </div>
             </div>
          </div>
        </div>
       </div>
      </div>
     </div>
  </div>
</section>  

<!--=================================
 banner -->

<!--=================================
 section -->

<section class="page-section-ptb gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="feature-box-5">
          <div class="icon">
            <i class="flaticon-key"></i>
          </div>
          <div class="info">
            <h5> <span class="text-red"> Sell </span> My Car</h5>
            <p>Make more money when you sell your car yourself.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="feature-box-5">
          <div class="icon">
            <i class="flaticon-inspection"></i>
          </div>
          <div class="info">
            <h5> <span class="text-red"> Trade  </span> My Car</h5>
            <p>Get an Instant Cash Offer and trade in or sell your...</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="feature-box-5">
          <div class="icon">
            <i class="flaticon-medal"></i>
          </div>
          <div class="info">
            <h5> <span class="text-red"> Value </span> My Car</h5>
            <p>Find out what your car is worth to an individual buyer or dealer.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="search-logo">
          <div id="tabs" class="clearfix">
             <h6>I want Search </h6>
              <ul class="tabs float-right">
                 <li data-tabs="tab21" class="active"> BROWSE MAKE </li>
                 <li data-tabs="tab22"> BROWSE TYPE </li>
              </ul>
             <div id="tab21" class="tabcontent"> 
              <div class="row">
                 <div class="col-lg-3 col-md-4">
                    <a href="#">
                      <div class="search-logo-box">
                      <img class="img-fluid center-block" src="images/clients/logo/01.png" alt="">
                      <span>12</span>
                    </div>
                    </a> 
                 </div>
                 <div class="col-lg-3 col-md-4">
                    <a href="#">
                      <div class="search-logo-box">
                      <img class="img-fluid center-block" src="images/clients/logo/02.png" alt="">
                      <span>05</span>
                    </div>
                    </a> 
                 </div>
                 <div class="col-lg-3 col-md-4">
                    <a href="#">
                      <div class="search-logo-box">
                      <img class="img-fluid center-block" src="images/clients/logo/03.png" alt="">
                      <span>10</span>
                    </div>
                    </a> 
                 </div>
                 <div class="col-lg-3 col-md-4">
                    <a href="#">
                      <div class="search-logo-box">
                      <img class="img-fluid center-block" src="images/clients/logo/04.png" alt="">
                      <span>26</span>
                    </div>
                    </a> 
                 </div>
                 <div class="col-lg-3 col-md-4">
                    <a href="#">
                      <div class="search-logo-box">
                      <img class="img-fluid center-block" src="images/clients/logo/05.png" alt="">
                      <span>11</span>
                    </div>
                    </a> 
                 </div>
                 <div class="col-lg-3 col-md-4">
                    <a href="#">
                      <div class="search-logo-box">
                      <img class="img-fluid center-block" src="images/clients/logo/06.png" alt="">
                      <span>06</span>
                    </div>
                    </a> 
                 </div>
                 <div class="col-lg-3 col-md-4">
                    <a href="#">
                      <div class="search-logo-box">
                      <img class="img-fluid center-block" src="images/clients/logo/07.png" alt="">
                      <span>23</span>
                    </div>
                    </a> 
                 </div>
                 <div class="col-lg-3 col-md-4">
                    <a href="#">
                      <div class="search-logo-box">
                      <img class="img-fluid center-block" src="images/clients/logo/08.png" alt="">
                      <span>14</span>
                    </div>
                    </a> 
                 </div>
              </div>
             </div>
             <div id="tab22" class="tabcontent"> 
              <div class="row">
                 <div class="col-lg-3 col-md-4">
                    <a href="#">
                      <div class="search-logo-box text-center">
                      <img class="img-fluid center-block" src="images/clients/body-type/01.png" alt="">
                      <strong>convertible</strong>
                    </div>
                    </a> 
                 </div>
                 <div class="col-lg-3 col-md-4">
                    <a href="#">
                      <div class="search-logo-box text-center">
                      <img class="img-fluid center-block" src="images/clients/body-type/02.png" alt="">
                      <strong>coupe</strong>
                    </div>
                    </a> 
                 </div>
                 <div class="col-lg-3 col-md-4">
                    <a href="#">
                      <div class="search-logo-box text-center">
                      <img class="img-fluid center-block" src="images/clients/body-type/03.png" alt="">
                      <strong>cuv</strong>
                    </div>
                    </a> 
                 </div>
                 <div class="col-lg-3 col-md-4">
                    <a href="#">
                      <div class="search-logo-box text-center">
                      <img class="img-fluid center-block" src="images/clients/body-type/04.png" alt="">
                      <strong>micro</strong>
                    </div>
                    </a> 
                 </div>
                 <div class="col-lg-3 col-md-4">
                    <a href="#">
                      <div class="search-logo-box text-center">
                      <img class="img-fluid center-block" src="images/clients/body-type/05.png" alt="">
                      <strong>minivan</strong>
                    </div>
                    </a> 
                 </div>
                 <div class="col-lg-3 col-md-4">
                    <a href="#">
                      <div class="search-logo-box text-center">
                      <img class="img-fluid center-block" src="images/clients/body-type/06.png" alt="">
                      <strong>pick-up</strong>
                    </div>
                    </a> 
                 </div>
                 <div class="col-lg-3 col-md-4">
                    <a href="#">
                      <div class="search-logo-box text-center">
                      <img class="img-fluid center-block" src="images/clients/body-type/07.png" alt="">
                      <strong>sedan</strong>
                    </div>
                    </a> 
                 </div>
                 <div class="col-lg-3 col-md-4">
                    <a href="#">
                      <div class="search-logo-box text-center">
                      <img class="img-fluid center-block" src="images/clients/body-type/08.png" alt="">
                      <strong>supercar</strong>
                    </div>
                    </a> 
                 </div>
              </div>
             </div>
         </div>
       </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="search-banner text-center">
          <img class="tab-hiiden img-fluid" src="images/banner-2.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
 section -->

<!--=================================
 section -->

<section class="vehicle-tab page-section-ptb white-bg">
  <div class="container">
   <div class="row">
    <div class="col-lg-3 col-md-12">
      <img class="tab-hiiden img-fluid" src="images/banner-3.jpg" alt="">
    </div>
    <div class="col-lg-9 col-md-12">
        <div id="tabs" class="clearfix">
         <h6>which vehicle You need<span class="text-red">?</span> </h6>
          <ul class="tabs float-right">
             <li data-tabs="tab10" class="active">  New Cars</li>
             <li data-tabs="tab11"> USED CARS </li>
          </ul>
         <div id="tab10" class="tabcontent"> 
          <div class="row">
             <div class="col-md-4">
               <div class="car-item gray-bg text-center">
                 <div class="car-image">
                   <img class="img-fluid" src="images/car/01.jpg" alt="">
                   <div class="car-overlay-banner">
                    <ul> 
                      <li><a href="#"><i class="fa fa-link"></i></a></li>
                      <li><a href="#"><i class="fa fa-dashboard"></i></a></li>
                     </ul>
                   </div>
                 </div>
                 <div class="car-list">
                   <ul class="list-inline">
                     <li><i class="fa fa-registered"></i> 2017</li>
                     <li><i class="fa fa-cog"></i> Manual </li>
                     <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
                   </ul>
                </div>
                 <div class="car-content">
                  <div class="star">
                   <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star-o orange-color"></i>
                   </div>
                   <a href="#">Acura Rsx</a>
                   <div class="separator"></div>
                   <div class="price">
                     <span class="old-price">$35,568</span>
                     <span class="new-price">$32,698 </span>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-md-4">
               <div class="car-item gray-bg text-center">
                 <div class="car-image">
                   <img class="img-fluid" src="images/car/02.jpg" alt="">
                   <div class="car-overlay-banner">
                    <ul> 
                      <li><a href="#"><i class="fa fa-link"></i></a></li>
                      <li><a href="#"><i class="fa fa-dashboard"></i></a></li>
                     </ul>
                   </div>
                 </div>
                 <div class="car-list">
                   <ul class="list-inline">
                     <li><i class="fa fa-registered"></i> 2017</li>
                     <li><i class="fa fa-cog"></i> Manual </li>
                     <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
                   </ul>
                </div>
                 <div class="car-content">
                  <div class="star">
                   <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star-o orange-color"></i>
                   </div>
                   <a href="#">Lexus GS 450h</a>
                   <div class="separator"></div>
                   <div class="price">
                     <span class="old-price">$35,568</span>
                     <span class="new-price">$32,698 </span>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-md-4">
               <div class="car-item gray-bg text-center">
                 <div class="car-image">
                   <img class="img-fluid" src="images/car/03.jpg" alt="">
                   <div class="car-overlay-banner">
                    <ul> 
                      <li><a href="#"><i class="fa fa-link"></i></a></li>
                      <li><a href="#"><i class="fa fa-dashboard"></i></a></li>
                     </ul>
                   </div>
                 </div>
                 <div class="car-list">
                   <ul class="list-inline">
                     <li><i class="fa fa-registered"></i> 2017</li>
                     <li><i class="fa fa-cog"></i> Manual </li>
                     <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
                   </ul>
                </div>
                 <div class="car-content">
                  <div class="star">
                   <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star-o orange-color"></i>
                   </div>
                   <a href="#">GTA 5 Lowriders DLC</a>
                   <div class="separator"></div>
                   <div class="price">
                     <span class="old-price">$35,568</span>
                     <span class="new-price">$32,698 </span>
                   </div>
                 </div>
               </div>
             </div>
            </div>
         </div>
         <div id="tab11" class="tabcontent"> 
          <div class="row">
             <div class="col-md-4">
               <div class="car-item gray-bg text-center">
                 <div class="car-image">
                   <img class="img-fluid" src="images/car/04.jpg" alt="">
                   <div class="car-overlay-banner">
                    <ul> 
                      <li><a href="#"><i class="fa fa-link"></i></a></li>
                      <li><a href="#"><i class="fa fa-dashboard"></i></a></li>
                     </ul>
                   </div>
                 </div>
                 <div class="car-list">
                   <ul class="list-inline">
                     <li><i class="fa fa-registered"></i> 2017</li>
                     <li><i class="fa fa-cog"></i> Manual </li>
                     <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
                   </ul>
                </div>
                 <div class="car-content">
                  <div class="star">
                   <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star-o orange-color"></i>
                   </div>
                   <a href="#">Acura Rsx</a>
                   <div class="separator"></div>
                   <div class="price">
                     <span class="old-price">$35,568</span>
                     <span class="new-price">$32,698 </span>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-md-4">
               <div class="car-item gray-bg text-center">
                 <div class="car-image">
                   <img class="img-fluid" src="images/car/05.jpg" alt="">
                   <div class="car-overlay-banner">
                    <ul> 
                      <li><a href="#"><i class="fa fa-link"></i></a></li>
                      <li><a href="#"><i class="fa fa-dashboard"></i></a></li>
                     </ul>
                   </div>
                 </div>
                 <div class="car-list">
                   <ul class="list-inline">
                     <li><i class="fa fa-registered"></i> 2017</li>
                     <li><i class="fa fa-cog"></i> Manual </li>
                     <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
                   </ul>
                </div>
                 <div class="car-content">
                  <div class="star">
                   <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star-o orange-color"></i>
                   </div>
                   <a href="#">Lexus GS 450h</a>
                   <div class="separator"></div>
                   <div class="price">
                     <span class="old-price">$35,568</span>
                     <span class="new-price">$32,698 </span>
                   </div>
                 </div>
               </div>
             </div>
             <div class="col-md-4">
               <div class="car-item gray-bg text-center">
                 <div class="car-image">
                   <img class="img-fluid" src="images/car/06.jpg" alt="">
                   <div class="car-overlay-banner">
                    <ul> 
                      <li><a href="#"><i class="fa fa-link"></i></a></li>
                      <li><a href="#"><i class="fa fa-dashboard"></i></a></li>
                     </ul>
                   </div>
                 </div>
                 <div class="car-list">
                   <ul class="list-inline">
                     <li><i class="fa fa-registered"></i> 2017</li>
                     <li><i class="fa fa-cog"></i> Manual </li>
                     <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
                   </ul>
                </div>
                 <div class="car-content">
                  <div class="star">
                   <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star-o orange-color"></i>
                   </div>
                   <a href="#">GTA 5 Lowriders DLC</a>
                   <div class="separator"></div>
                   <div class="price">
                     <span class="old-price">$35,568</span>
                     <span class="new-price">$32,698 </span>
                   </div>
                 </div>
               </div>
             </div>
            </div>
         </div>
     </div>
   </div>
  </div>
  </div>
</section>

 <!--=================================
 section -->


 <!--=================================
 Counter -->

<section class="page-section-pb">
  <div class="container">
  <div class="row">
    <div class="col-md-6">
        <div class="dealer-box red-bg">
          <div class="box-content">
            <h5 class="text-white">Ad your New car with Cardealer</h5>
            <p class="text-white">Search Our Inventory With Thousands Of Cars And More Cars Are Adding On Daily Basis</p>
            <a class="button white" href="#">Become a Dealer</a>
          </div>
          <div class="box-icon">
            <i class="flaticon-car-repair"></i>
          </div>
        </div>
     </div>
     <div class="col-md-6">
        <div class="dealer-box dark-bg">
          <div class="box-content">
            <h5 class="text-white">Sell your Car with Cardealer</h5>
            <p class="text-white">Search Our Inventory With Thousands Of Cars And More Cars Are Adding On Daily Basis</p>
            <a class="button white" href="#">Become a Dealer</a>
          </div>
          <div class="box-icon">
            <i class="flaticon-key"></i>
          </div>
        </div>
     </div> 
  </div>
   <div class="row counter counter-style-1 light">
     <div class="col-lg-3 col-md-6 text-center">
       <div class="counter-block">
          <i class="glyph-icon flaticon-beetle"></i>
          <h6 class="text-black">Vehicles In Stock  </h6>
          <b class="timer" data-to="3968" data-speed="10000"></b>
      </div>
     </div>
     <div class="col-lg-3 col-md-6 text-center">
      <div class="counter-block">
         <i class="glyph-icon flaticon-interface"></i>
          <h6 class="text-black">Dealer Reviews</h6>
          <b class="timer" data-to="5568" data-speed="10000"></b>
       </div> 
     </div>
     <div class="col-lg-3 col-md-6 text-center">
      <div class="counter-block">
          <i class="glyph-icon flaticon-circle"></i>
          <h6 class="text-black">Happy Customer</h6>
          <b class="timer" data-to="8908" data-speed="10000"></b>
       </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="counter-block">
          <i class="glyph-icon flaticon-cup"></i>
          <h6 class="text-black">Awards</h6>
          <b class="timer" data-to="9968" data-speed="10000"></b>
       </div>
     </div>
    </div>
  </div>
</section>

 <!--=================================
 Counter -->


 <!--=================================
 latest news -->

<section class="latest-blog gray-bg page-section-ptb">
  <div class="container">
   <div class="row">
    <div class="col-md-6">
      <div class="text-left blog-button">
         <h5>News & Reviews</h5>
      </div>
    </div>
    <div class="col-md-6 blog-button">
      <div class="text-right">
         <a class="button white" href="#">View all</a>
      </div>
    </div>
   </div>
   <div class="row">
     <div class="col-lg-4 col-md-12">
        <div class="blog-2">
          <div class="blog-image">
            <img class="img-fluid" src="images/blog/05.jpg" alt="">
            <div class="date">
              <span>aug 17</span>
            </div>
          </div>
          <div class="blog-content">
            <div class="blog-admin-main">
             <div class="blog-admin">
              <img class="img-fluid" src="images/team/01.jpg" alt="">
              <span>John Doe</span>
             </div>
             <div class="blog-meta float-right">
               <ul>
                 <li><a href="#"> <i class="fa fa-comment"></i><br /> 123</a></li>
                 <li class="share"><a href="#"> <i class="fa fa-share-alt"></i><br /> ...</a>
                  <div class="blog-social"> 
                   <ul>
                    <li> <a href="#"><i class="fa fa-facebook"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-instagram"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-pinterest-p"></i></a> </li>
                   </ul>
                   </div>
                 </li>
               </ul>
             </div>
            </div>
            <div class="blog-description text-center">
               <a href="#">Does Your Life Lack Meaning</a>
               <div class="separator"></div>
              <p>You will begin to realize why this exercise Pattern is called the Dickens with reference to the ghost</p>
            </div>
          </div>
        </div>
     </div>
   <div class="col-lg-4 col-md-12">
        <div class="blog-2">
          <div class="blog-image">
            <img class="img-fluid" src="images/blog/06.jpg" alt="">
            <div class="date">
              <span>aug 17</span>
            </div>
          </div>
          <div class="blog-content">
            <div class="blog-admin-main">
             <div class="blog-admin">
              <img class="img-fluid" src="images/team/02.jpg" alt="">
              <span>Paul Flavius</span>
             </div>
             <div class="blog-meta float-right">
               <ul>
                 <li><a href="#"> <i class="fa fa-comment"></i><br /> 123</a></li>
                 <li class="share"><a href="#"> <i class="fa fa-share-alt"></i><br /> ...</a>
                  <div class="blog-social"> 
                   <ul>
                    <li> <a href="#"><i class="fa fa-facebook"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-instagram"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-pinterest-p"></i></a> </li>
                   </ul>
                   </div>
                 </li>
               </ul>
             </div>
            </div>
            <div class="blog-description text-center">
               <a href="#">The A Z Of Motivation</a>
               <div class="separator"></div>
              <p>Exercise is called you will begin to Pattern realize why this the Dickens Pattern with reference to ghost</p>
            </div>
          </div>
        </div>
     </div>
     <div class="col-lg-4 col-md-12">
        <div class="blog-2">
          <div class="blog-image">
            <img class="img-fluid" src="images/blog/07.jpg" alt="">
            <div class="date">
              <span>aug 17</span>
            </div>
          </div>
          <div class="blog-content">
            <div class="blog-admin-main">
             <div class="blog-admin">
              <img class="img-fluid" src="images/team/03.jpg" alt="">
              <span>Sara Lisbon</span>
             </div>
             <div class="blog-meta float-right">
               <ul>
                 <li><a href="#"> <i class="fa fa-comment"></i><br /> 123</a></li>
                 <li class="share"><a href="#"> <i class="fa fa-share-alt"></i><br /> ...</a>
                  <div class="blog-social"> 
                   <ul>
                    <li> <a href="#"><i class="fa fa-facebook"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-instagram"></i></a> </li>
                    <li> <a href="#"><i class="fa fa-pinterest-p"></i></a> </li>
                   </ul>
                   </div>
                 </li>
               </ul>
             </div>
            </div>
            <div class="blog-description text-center">
               <a href="#">Motivation In Life</a>
               <div class="separator"></div>
              <p>Dickens Pattern you will begin to realize why this Dickens exercise is the with reference to the ghost</p>
            </div>
          </div>
        </div>
     </div>   
    </div>
  </div>
</section> 

<!--=================================
 latest news -->

<!--=================================
 footer -->

<footer class="footer-3 footer-simple">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img id="logo-footer" class="img-fluid" src="images/logo-light.png" alt="">
      </div>
      <div class="col-md-8 text-right">
        <div class="social">
        <ul>
          <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
          <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
          <li><a href="#"> <i class="fa fa-pinterest-p"></i> </a></li>
          <li><a href="#"> <i class="fa fa-dribbble"></i> </a></li>
          <li><a href="#"> <i class="fa fa-instagram"></i> </a></li>
          <li><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
        </ul>
       </div>
      </div>
       
    </div>
    </div>
    <div class="copyright">
     <div class="container">
      <div class="row">
       <div class="col-lg-6 col-md-12">
         <div class="text-lg-left text-center">
         <p>©Copyright 2018 Car Dealer Developed by <a href="http://www.potenzaglobalsolutions.com/" target="_blank">Potenzaglobalsolutions</a></p>
       </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <ul class="list-inline text-lg-right text-center">
          <li><a href="#">privacy policy </a> | </li> 
          <li><a href="#">terms and conditions </a> |</li> 
          <li><a href="#">contact us </a></li>
        </ul>
      </div>
     </div>
    </div>
   </div>
</footer>

 <!--=================================
 footer -->

 

 <!--=================================
 back to top -->

<div class="car-top">
  <span><img src="images/car.png" alt=""></span>
</div>

 <!--=================================
 back to top -->

<!--=================================
 jquery -->

<!-- jquery  -->
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
 
<!-- bootstrap -->
<script type="text/javascript" src="js/popper.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<!-- mega-menu -->
<script type="text/javascript" src="js/mega-menu/mega_menu.js"></script>

<!-- appear -->
<script type="text/javascript" src="js/jquery.appear.js"></script>

<!-- counter -->
<script type="text/javascript" src="js/counter/jquery.countTo.js"></script>

<!-- owl-carousel -->
<script type="text/javascript" src="js/owl-carousel/owl.carousel.min.js"></script>

<!-- select -->
<script type="text/javascript" src="js/select/jquery-select.js"></script>

<!-- magnific popup -->
<script type="text/javascript" src="js/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- revolution -->
<script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- custom -->
<script type="text/javascript" src="js/custom.js"></script>
   
</body>

<!-- Mirrored from themes.potenzaglobalsolutions.com/html/cardealer/index-car-directory.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Sep 2021 07:56:06 GMT -->
</html> 